.modalAddItem {
  width: 25vw;
  padding: 0 15px;
  button {
    margin-top: 20px;
  }
}

.modalLogin {
  width: 20vw;
  padding: 0 15px;
  button {
    margin: auto;
  }
}

.modalTitle {
  text-align: center;
  margin-bottom: 20px;
}

input {
  margin-bottom: 10px;
}